In [31]:
#Import required libraries
import pandas as pd
import numpy as np

In [34]:
#Generating random dummy data using numpy
#numpy seed helps to keep the random data same on recreating
np.random.seed(11)
years  = np.random.randint(1,10+1, 1000)
salaries = years * 200 + 2000 + np.random.randint(1,700+1,1000)

In [36]:
#Loading the random data generated from numpy into a Dataframe
employeeData = pd.DataFrame(list(zip(years, salaries)), columns=["Years","Salary"])
employeeData.head()

   Years  Salary
0     10    4323
1      1    2496
2      2    2664
3      8    3717
4      2    2535

In [37]:
#Exporting the dataframe
employeeData.to_csv("Employee_data.csv",index=False)